.catalogue {
    background: url('../img/bg/catalogue-bg.png') 50% no-repeat;
    background-size: cover;
    position: relative;
}

.catalogue__title {
    position: absolute;
    top: 10%;
    left: 10%;
}