.feature__icon-pic {
    width: 90%;
    height: rem(100px);
    svg {
        max-width: 95%;
    }
    @include phones {
        position: static;
        transform: none;
    }
}

.feature__img {
    padding-bottom: 35px;
    @include phones {
        margin-right: rem(20px);
        width: 30%;
    }
}

.feature__content {
    @include phones {
        text-align: left;
        display: block;
        width: 65%;
    }
}

.feature__title {
    font-size: rem(24px);
    @include lifehack;
    color: $black;
    margin-bottom: rem(20px);
}

.feature__text {
    p {
        font-size: rem(14px);
        line-height: 1.8;
    }
}