.review {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        transition: .3s;
    }
    &:hover {
        .review__hover {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        &:after {
            background: rgba(#141414, .7);
        }
    }
}

.review__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(.7);
    opacity: 0;
    padding: 17% 12% 0;
    transition: .3s;
    z-index: 10;
    @include tablets {
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.review__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.review__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.review__username {
    color: #fff;
    @include gagalin;
    font-size: rem(14px);
    margin-bottom: rem(25px);
    @include phones {
        font-size: rem(20px);
    }
    &--full {
        color: $black;
        font-size: rem(15px);
    }
}

.review__content {
    color: #ffffff;
    font-size: rem(14px);
    @include ubuntu(light);
    margin-bottom: rem(13px);
    @include phones {
        display: none;
    }
    &--full {
        display: block;
        color: $black;
    }
}

.review__view {
    border-radius: rem(5px);
    background-color: rgb(47, 50, 52);
    padding: rem(8px) rem(12px);
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    @include ubuntu(medium);
    font-size: rem(12px);
    transition: .3s;
    &:hover {
        background-color: rgb(31, 33, 34);
    }
}