.team {
    background: url("../img/bg/team-bg.png") 50% no-repeat;
    background-size: cover;
    position: relative;
}

.team__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    @include tablets {
        width: 100%;
        padding-left: 0;
        align-items: center;
    }
}